* {
  box-sizing: border-box;
}

body {
  min-width: 320px;
  background-color: #e8e8e8;
  padding: 0;
  margin: 0;
}

.main-container {
  background-color: #ffffff;
  position: relative;
  padding: 0;
  max-width: 1280px;
  margin: 0 auto;
}

.padding-content {
  padding: 0;
}
