// Breakpoints
$main-container-width: 1280px;
$large-breakpoint: 1080px;
$ipad-breakpoint: 980px;
$mobile-breakpoint: 600px;

//Colours
$main-container-bg: #ffffff;

// Paddings

// Fonts

// Others
$enable-flex: true;
$enable-grid-classes: true;
