.footer {
  margin: 3em auto 0;
  padding: 32px;
  background-color: $background3;
  color: $white;
  &__grid {
    @include flexcenter;
  }
  &__calendar {
    width: 63px;
    height: 70px;
    margin: 0 3em;
  }
  &__text {
    font-size: 2rem;
    h3 {
      font-weight: 400;
    }
  }
}
