.footer {
  margin: 3em auto 0;
  padding: 54px 32px;
  background-color: $background3;
  color: $white;
  &__grid {
    @include flexcenter;
    @include break($md-breakpoint) {
      flex-direction: column;
    }
  }
  &__calendar {
    margin: 0 3em;
    width: 63px;
    height: 70px;
    @include break($md-breakpoint) {
      width: 44px;
      height: 49px;
    }
  }
  &__text {
    h3 {
      font-size: 54px;
      font-weight: 400;
      @include break($md-breakpoint) {
        font-size: 34px;
        text-align: center;
      }
    }
  }
}
