.navigation {
  background-color: $darkblue;
  display: flex;
  justify-content: space-between;
  a {
    color: $offwhite2;
    text-decoration: none;
    font-size: 14px;
    font-weight: 300;
    &:hover {
      text-decoration: underline;
      color: darken($offwhite2, 30%);
    }
  }
  &__left {
    display: flex;
    list-style: none;
    margin: 10px 0px;
    padding-left: 20px;
    li {
      padding: 0 10px;
    }
  }
  &__right {
    margin: 10px;
    a {
      @include flexcenter;
    }
    .flag {
      margin-right: 8px;
    }
  }
}
