.navigation {
  background-color: $darkblue;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  a {
    color: $offwhite2;
    text-decoration: none;
    font-size: 14px;
    font-weight: 300;
    &:hover {
      text-decoration: underline;
      color: darken($offwhite2, 30%);
    }
  }
  &__left {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    @include break($md-breakpoint) {
      flex-direction: column;
    }
    li {
      padding: 0 10px;
      @include break($md-breakpoint) {
        padding: 3px 10px;
      }
    }
  }
  &__right {
    margin: 0;
    padding-top: 4px;
    a {
      @include flexcenter;
    }
    .flag {
      margin-right: 8px;
    }
  }
}
