.section1 {
  background-color: $background1;
  padding: 1em;
  @include break($md-breakpoint) {
    padding: 14px;
  }
  &__title {
    @include flexcenter;
    @include break($md-breakpoint) {
      flex-direction: column;
      padding-bottom: 18px;
    }
    .left__title {
      border-right: 2px solid lighten($darkgold, 45%);
      padding: 0 0;
      padding-right: 4em;
      margin: 2em;
      margin-left: 0;
      margin-right: 3em;
      @include break($md-breakpoint) {
        border-bottom: 2px solid lighten($darkgold, 45%);
        border-right: none;
        margin: 0;
        padding: 0;
      }
      h1 {
        font-size: 60px;
        font-weight: 500;
        margin: 0;
        text-transform: uppercase;
        @include break(960px) {
          font-size: 44px;
        }
        @include break($md-breakpoint) {
          font-size: 30px;
        }
      }
      h2 {
        font-size: 43px;
        font-weight: 500;
        margin: 0;
        margin-top: 0.2em;
        @include break(960px) {
          font-size: 1.8rem;
        }
        @include break($md-breakpoint) {
          font-size: 21px;
          margin-bottom: 1em;
        }
      }
    }
    .right__title {
      @include flexcenter;
      color: $grey;
      font-size: 19px;
      font-weight: 500;
      width: 200px;
      @include break($md-breakpoint) {
        padding-top: 16px;
      }
      @include break($sm-breakpoint) {
        width: 100%;
        justify-content: flex-start;
      }
      img {
        width: 32px;
        height: 35px;
        margin-right: 22px;
      }
    }
  }
  &__subheader {
    @include flexcenter;
    color: $grey;
    margin-bottom: 1em;
    h3 {
      font-size: 30px;
      margin-top: 0;
      font-weight: 500;
      @include break($md-breakpoint) {
        font-size: 17px;
      }
    }
  }
  &__jumboimage {
    @include flexcenter;
    @include break($md-breakpoint) {
      margin-top: -1em;
    }
    img {
      width: 1280px;
      max-width: 100%;
      max-height: 588px;
      transition: 0.5s all ease;
      @include break($sm-breakpoint) {
        height: 190px;
      }
    }
  }
  &__thirds {
    @include flexcenter;
    margin: 2em auto;
    max-width: 1280px;
    @include break(1010px) {
      flex-direction: column;
      padding: 0 34px;
      margin-top: 1em;
    }
    &__item {
      flex: 0 0 33.33%;
      display: flex;
      flex-direction: column;
      align-items: center;
      .description {
        @include flexcenter;
        flex-direction: column;
        padding: 1.2em 0;
        h4 {
          font-size: 29px;
          font-weight: 500;
          margin: 0;
          @include break($md-breakpoint) {
            font-size: 18px;
          }
        }
        span {
          color: $grey;
          font-weight: 500;
          font-size: 22px;
          padding-top: 5px;
          @include break($md-breakpoint) {
            font-size: 14px;
          }
        }
      }
      .image {
        img {
          width: 443px;
          max-width: 100%;
          max-height: 268px;
          transition: 0.5s all ease;
        }
      }
    }
  }
  &__activities {
    @include flexcenter;
    margin: 3em auto 2em;
    max-width: 980px;
    @include break($md-breakpoint) {
      flex-direction: column;
      margin: 3em 34px 2em;
    }
    span {
      color: $grey;
      font-weight: 500;
    }
    &__part {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      width: 100%;
      @include break($md-breakpoint) {
        display: none;
      }
      .bar {
        @include break(400px) {
          margin-right: 200px;
        }
      }
      &__item {
        @include flexcenter;
        .image__bar {
          width: 24px;
          height: 39px;
          margin-right: 18px;
          @include break($md-breakpoint) {
            width: 15px;
            height: 24px;
          }
        }
        .image__chair {
          width: 50px;
          height: 50px;
          margin-right: 18px;
          @include break($md-breakpoint) {
            width: 31px;
            height: 31px;
          }
        }
        .image__fitness {
          width: 45px;
          height: 19px;
          margin-right: 18px;
          @include break($md-breakpoint) {
            width: 27px;
            height: 11px;
          }
        }
        .image__car {
          width: 37px;
          height: 29px;
          margin-right: 18px;
          @include break($md-breakpoint) {
            width: 23px;
            height: 18px;
          }
        }
        span {
          font-size: 22px;
          @include break($md-breakpoint) {
            font-size: 13px;
          }
        }
      }
    }

    &__part__mobile {
      @include flexcenter;
      margin: 0 34px;
      @media screen and (min-width: $md-breakpoint) {
        display: none;
      }
      &__column {
        display: flex;
        flex-direction: column;
        width: 136px;
        align-items: flex-start;
      }
      .section1__activities__part__item {
        margin-bottom: 20px;
      }
    }
  }
}
