.section2 {
  background-color: $background2;
  padding-top: 1em;
  @include break($md-breakpoint) {
    padding: 1em 7px 0;
  }
  &__title {
    @include flexcenter;
    h2 {
      color: $fontcolor2;
      font-size: 40px;
      font-weight: 500;
      @include break($md-breakpoint) {
        font-size: 25px;
      }
    }
  }
  &__images {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1280px;
    margin: 0 auto;
    .imagerow {
      display: flex;
    }
    .image {
      min-width: 0;
      margin: 12px;
      @include break($sm-breakpoint) {
        margin: 6px;
      }
      img {
        width: 693px;
        max-width: 100%;
        max-height: 360px;
        transition: 0.5s all ease;
      }
    }
  }
}
