.section2 {
  background-color: $background2;
  &__title {
    @include flexcenter;
    h2 {
      color: $fontcolor2;
      font-size: 2.1rem;
      font-weight: 500;
    }
  }
  &__images {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 980px;
    margin: 0 auto;
    .imagerow {
      display: flex;
    }
    .image {
      min-width: 0;
      margin: 12px;
      @include break($sm-breakpoint) {
        margin: 6px;
      }
      img {
        width: 460px;
        max-width: 100%;
        max-height: 450px;
        transition: 0.5s all ease;
      }
    }
  }
}
