// Fonts
@import url('https://fonts.googleapis.com/css?family=Barlow:300,400,600&display=swap&subset=latin-ext');

// Breakpoints
$xlg-breakpoint: 1280px;
$lg-breakpoint: 1080px;
$md-breakpoint: 980px;
$sm-breakpoint: 600px;

//Colours
$darkgold: #907543;
$lightgold: #f6efde;
$offwhite: #fbf8f2;
$white: #ffffff;
$darkblue: #0f2356;
$grey: #505050;
$footergold: rgba(144, 117, 67, 0.63);

$fontcolor1: $darkgold;
$fontcolor2: $grey;
$background1: $lightgold;
$background2: $offwhite;
$background3: $footergold;

// Font
$barlow: 'Barlow', sans-serif;

// Others
$enable-flex: true;
$enable-grid-classes: true;
